.container {
  text-align: left;
  color: white;
  background-color: white;
  margin: 2rem 0;
  border: 1px solid aquamarine;
  height: 80vh;
  overflow: scroll;
  box-shadow: 0rem 0rem 1rem 1px rgba(127, 255, 212, 0.4);
}
