.container {
  background-color: aquamarine;
  border: 1px solid aquamarine;
  box-shadow: 0rem 0rem 1rem 1px rgba(127, 255, 212, 0.4);
  color: white;
  height: 80vh;
  margin: 2rem 0;
  overflow: scroll;
  text-align: left;
  width: 635px;
}
.container *,
.container *:hover {
  text-transform: none;
}

.container button,
.container input,
.container textarea {
  box-shadow: none;
}
