.container {
  text-align: left;
  margin: 2rem 0;
}

.container h2 {
  color: aquamarine;
}

.container img {
  border: 1px solid aquamarine;
  height: 200px;
  width: 200px;
}

.adInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
