.container {
  align-items: center;
  border: 1px solid aquamarine;
  border-radius: 2px;
  box-shadow: 0rem 0rem 1rem 1px rgba(127, 255, 212, 0.4);
  display: flex;
  margin: 2rem 0;
  justify-content: space-between;
  padding: 0.5rem;
  text-align: left;
}

.container:hover {
  box-shadow: 0rem 0rem 1rem 3px rgba(127, 255, 212, 0.4);
}

.container img {
  border: 1px solid aquamarine;
  height: 100px;
  width: 100px;
}
