.App {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 900px;
  justify-content: space-between;
  min-height: 100vh;
  text-align: center;
  padding: 1rem;
}

.container {
  display: flex;
  flex: 1;
  align-items: flex-start;
}

a {
  text-decoration: none;
  text-transform: lowercase;
  color: aquamarine;
}

a:hover {
  text-transform: uppercase;
}

input {
  margin: 1rem 0;
  padding: 0.5rem;
  width: 100%;
  background-color: aquamarine;
  border: 0;
  font-size: 1.5rem;
  box-shadow: 0rem 0rem 1rem 0.5rem rgba(127, 255, 212, 0.4);
  border-radius: 0.5rem;
}

button {
  margin: 1rem 0;
  padding: 1rem;  
  cursor: pointer;  
  background-color: aquamarine;
  border: 0;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  box-shadow: 0rem 0rem 1rem 0.5rem rgba(127, 255, 212, 0.4);
  cursor: pointer;
}

button:hover,
input:hover,
input:focus {
  box-shadow: 0rem 0rem 1rem 0.7rem rgba(127, 255, 212, 0.4);
}