.form {
  margin-top: 2rem;
  text-align: left;
}

.form div {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

.form h2 {
  color: aquamarine;
  margin: 0;
}

.form input {
  margin: 1rem 0;
}
