.form {
  text-align: left;
  margin-top: 1rem;
}

.form input {
  margin: 1rem 0;
  padding: 0.5rem;
  width: 100%;
  background-color: aquamarine;
  border: 0;
  font-size: 1.5rem;
  box-shadow: 0rem 0rem 1rem 0.5rem rgba(127, 255, 212, 0.4);
  border-radius: 0.5rem;
}

.form div {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.form button {
  margin: 1rem 0;
  padding: 1rem;  
  cursor: pointer;  
  background-color: aquamarine;
  border: 0;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  box-shadow: 0rem 0rem 1rem 0.5rem rgba(127, 255, 212, 0.4);
  cursor: pointer;
}

.form h2 {
  margin: 0;
  color: aquamarine;
}
