.categories {
  border: 1px solid rgba(127, 255, 212, 0.4);
  box-shadow: 0rem 0rem 1rem 1px rgba(127, 255, 212, 0.4);
  margin: 2rem 2rem 0 0;
  width: 200px;
}

.categories:hover {
  box-shadow: 0rem 0rem 1rem 3px rgba(127, 255, 212, 0.4);
}

.title {
  background-color: rgba(127, 255, 212, 1);
  color: black;
  font-weight: bold;
  line-height: 2rem;
  margin: 0;
}

.categories ul {
  list-style-type: none;
  padding: 0;
}

.categories li {
  border: 1px solid aquamarine;
  display: block;
  color: aquamarine;
  cursor: pointer;
  padding: 0.5rem;
  text-transform: lowercase;
}

.categories li:hover {
  text-transform: uppercase;
}
