.categories {
  border: 1px solid rgba(127, 255, 212, 0.4);
  width: 200px;
  margin: 2rem 2rem 0 0;
  box-shadow: 0rem 0rem 1rem 0.5rem rgba(127, 255, 212, 0.4);
}

.title {
  color: black;
  margin: 0;
  font-weight: bold;
  line-height: 2rem;
  background-color: rgba(127, 255, 212, 1);
}

.categories ul {
  list-style-type: none;
  padding: 0;
}

.categories a {
  display: block;
  padding: 0.5rem;
  border: 1px solid aquamarine;
}

.categories a:hover {
  background-color: rgba(127, 255, 212, 0.2);
}