.container {
  align-items: center;
  border: 1px solid aquamarine;
  border-radius: 2px;
  box-shadow: 0rem 0rem 1rem 1px rgba(127, 255, 212, 0.4);
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.container:hover {
  box-shadow: 0rem 0rem 1rem 3px rgba(127, 255, 212, 0.4);
}

.title {
  color: aquamarine;
  font-style: italic;
  letter-spacing: 4px;
  margin: 0;
  text-shadow: -0.3rem -0.3rem 1px rgba(127, 255, 212, 0.5);
}

.navigation {
  text-align: right;
}

.navigation ul {
  list-style-type: none;
  margin: 0;
}

.navigation li {
  border-right: 1px solid aquamarine;
  display: inline-block;
  line-height: 2rem;
  padding: 0 0.3rem;
}

.navigation li:last-child {
  border-right: 0;
}
